.carousel {
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 300px;
}

.carousel button.button {
    text-decoration: none;
    position: absolute;
    top: 50%;
    z-index: 100;
    width: 50px;
    text-align: center;
    border: solid 1px black;
    border-radius: 2px;
}

.carousel .left-arrow {
    left: 5px;
}

.carousel .right-arrow {
    right: 5px;
}

.carousel .item {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    animation: slideOffLeft 1s ease-in-out forwards;
}

.carousel .item.active {
    animation: slideLeft 1s ease-in-out forwards;
}

.carousel .item.right-active {
    animation: slideRight 1s ease-in-out forwards;
}

.carousel .item.right-off {
    animation: slideOffRight 1s ease-in-out forwards;
}

@keyframes slideLeft {
	0% {
		transform: translateX(110%);
	}
	100% {
		transform: translateX(0%);
	}	
}

@keyframes slideOffLeft {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-110%);
	}	
}

@keyframes slideRight {
	0% {
		transform: translateX(-110%);
	}
	100% {
		transform: translateX(0%);
	}	
}

@keyframes slideOffRight {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(110%);
	}	
}